<!doctype html>
<html lang="en">

<script src="https://d3js.org/d3.v4.min.js"></script>

<head>
    <%- include('partials/head') %>
        <%- include('partials/bootstrap-scripts') %>
            <link href="styles/style-draughts.css" rel="stylesheet" type="text/css">
            <script src="/socket.io/socket.io.js"></script>
            <script src="/scripts/main_draughts.js"></script>
</head>

<body>
    <%- include('partials/navbar', {nick:nick}) %>
    <span id='nick' hidden>
    <%= JSON.stringify(nick); %>
    </span>
    <span id='sesid' hidden>
    <%= JSON.stringify(sesID); %>
    </span>
    <nav class="navbar navbar-light bg-light navbar-reverse">
		<span class="navbar-brand mb-0 h1"><%= game %></span>
		<div class="top-nav" id="buttonsToHide">
			<button type="button" class="btn btn-secondary" id="refresh" onclick="location.reload()">Odśwież listę</button>
        	<button type="button" class="btn btn-secondary" id="new">Utwórz pokój</button>
		</div>
    </nav>
    <ul class="list-group">
      <% for(let [roomID, data] of rooms.entries()){ %>
        <% if(data.size == 1) {%>
          <li class="list-group-item clearfix">
            <%= data.name %><span class="badge badge-light">1/2 graczy</span>
            <button type="button" class="btn btn-success btn-sm" data-roomID="<%= data.room %>" style="top: 8px">Dołącz do gry</button>
        </li>
        <% } else if(data.size == 2) {%>
          <li class="list-group-item"><%= data.name %><span class="badge badge-light">2/2 graczy</span>
          </li>
        <% } %>
      <% } %>
    </ul>

            <div class="container" id="draughts-board">
                <div class="row">
                    <div class="col-12">
                        <h5 id="upperLabel">Twoja kolej</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="board-container container">
                            <div class="row draughts-row">
                                <div class="col draughts-box-white has-hover" id="00">

                                </div>
                                <div class="col draughts-box-black has-hover" id="01"></div>
                                <div class="col draughts-box-white has-hover" id="02"></div>
                                <div class="col draughts-box-black has-hover" id="03"></div>
                                <div class="col draughts-box-white has-hover" id="04"></div>
                                <div class="col draughts-box-black has-hover" id="05"></div>
                                <div class="col draughts-box-white has-hover" id="06"></div>
                                <div class="col draughts-box-black has-hover" id="07"></div>
                            </div>
                            <div class="row draughts-row">
                                <div class="col draughts-box-black has-hover" id="10"></div>
                                <div class="col draughts-box-white has-hover" id="11"></div>
                                <div class="col draughts-box-black has-hover" id="12"></div>
                                <div class="col draughts-box-white has-hover" id="13"></div>
                                <div class="col draughts-box-black has-hover" id="14"></div>
                                <div class="col draughts-box-white has-hover" id="15"></div>
                                <div class="col draughts-box-black has-hover" id="16"></div>
                                <div class="col draughts-box-white has-hover" id="17"></div>
                            </div>
                            <div class="row draughts-row">
                                <div class="col draughts-box-white has-hover" id="20"></div>
                                <div class="col draughts-box-black has-hover" id="21"></div>
                                <div class="col draughts-box-white has-hover" id="22"></div>
                                <div class="col draughts-box-black has-hover" id="23"></div>
                                <div class="col draughts-box-white has-hover" id="24"></div>
                                <div class="col draughts-box-black has-hover" id="25"></div>
                                <div class="col draughts-box-white has-hover" id="26"></div>
                                <div class="col draughts-box-black has-hover" id="27"></div>
                            </div>
                            <div class="row draughts-row">
                                <div class="col draughts-box-black has-hover" id="30"></div>
                                <div class="col draughts-box-white has-hover" id="31"></div>
                                <div class="col draughts-box-black has-hover" id="32"></div>
                                <div class="col draughts-box-white has-hover" id="33"></div>
                                <div class="col draughts-box-black has-hover" id="34"></div>
                                <div class="col draughts-box-white has-hover" id="35"></div>
                                <div class="col draughts-box-black has-hover" id="36"></div>
                                <div class="col draughts-box-white has-hover" id="37"></div>
                            </div>
                            <div class="row draughts-row">
                                <div class="col draughts-box-white has-hover" id="40"></div>
                                <div class="col draughts-box-black has-hover" id="41"></div>
                                <div class="col draughts-box-white has-hover" id="42"></div>
                                <div class="col draughts-box-black has-hover" id="43"></div>
                                <div class="col draughts-box-white has-hover" id="44"></div>
                                <div class="col draughts-box-black has-hover" id="45"></div>
                                <div class="col draughts-box-white has-hover" id="46"></div>
                                <div class="col draughts-box-black has-hover" id="47"></div>
                            </div>
                            <div class="row draughts-row">
                                <div class="col draughts-box-black has-hover" id="50"></div>
                                <div class="col draughts-box-white has-hover" id="51"></div>
                                <div class="col draughts-box-black has-hover" id="52"></div>
                                <div class="col draughts-box-white has-hover" id="53"></div>
                                <div class="col draughts-box-black has-hover" id="54"></div>
                                <div class="col draughts-box-white has-hover" id="55"></div>
                                <div class="col draughts-box-black has-hover" id="56"></div>
                                <div class="col draughts-box-white has-hover" id="57"></div>
                            </div>
                            <div class="row draughts-row">
                                <div class="col draughts-box-white has-hover" id="60"></div>
                                <div class="col draughts-box-black has-hover" id="61"></div>
                                <div class="col draughts-box-white has-hover" id="62"></div>
                                <div class="col draughts-box-black has-hover" id="63"></div>
                                <div class="col draughts-box-white has-hover" id="64"></div>
                                <div class="col draughts-box-black has-hover" id="65"></div>
                                <div class="col draughts-box-white has-hover" id="66"></div>
                                <div class="col draughts-box-black has-hover" id="67"></div>
                            </div>
                            <div class="row draughts-row">
                                <div class="col draughts-box-black has-hover" id="70"></div>
                                <div class="col draughts-box-white has-hover" id="71"></div>
                                <div class="col draughts-box-black has-hover" id="72"></div>
                                <div class="col draughts-box-white has-hover" id="73"></div>
                                <div class="col draughts-box-black has-hover" id="74"></div>
                                <div class="col draughts-box-white has-hover" id="75"></div>
                                <div class="col draughts-box-black has-hover" id="76"></div>
                                <div class="col draughts-box-white has-hover" id="77"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
                id="gameEndedModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Koniec gry</h5>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <a href="/" role="button" class="btn btn-secondary">Wyjdź</a>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>