<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <%- include('partials/bootstrap-scripts') %>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="/scripts/main.js"></script>
  </head>
  <body>
    <%- include('partials/navbar', {nick:nick}) %>
    <span id='nick' hidden>
    <%= JSON.stringify(nick); %>
    </span>
    <span id='sesid' hidden>
    <%= JSON.stringify(sesID); %>
    </span>
    <nav class="navbar navbar-light bg-light navbar-reverse">
        <span class="navbar-brand mb-0 h1"><%= game %></span>
        <button type="button" class="btn btn-secondary" id="new">Utwórz pokój</button>
    </nav>
    <ul class="list-group">
      <% for(let [roomID, data] of rooms.entries()){ %>
        <% if(data.size == 1) {%>
          <li class="list-group-item clearfix">
            <%= data.name %><span class="badge badge-light">1/2 graczy</span>
            <button type="button" class="btn btn-success btn-sm" data-roomID="<%= data.room %>" >Dołącz do gry</button>
        </li>
        <% } else if(data.size == 2) {%>
          <li class="list-group-item"><%= data.name %><span class="badge badge-light">2/2 graczy</span>
          </li>
        <% } %>
      <% } %>
    </ul>
  </body>
</html>

  