<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar', {nick:nick}) %>
    <nav class="navbar navbar-light bg-light navbar-reverse">
        <span class="navbar-brand mb-0 h1"><%= game %></span>
<<<<<<< HEAD
        <a href="/<%= game %>" class="btn btn-secondary" id="new">Utwórz pokój</a>
	<span id='nick' hidden>
    	<%= JSON.stringify(nick); %>
	</span>
    </nav>
    <script src="/socket.io/socket.io.js"></script>
=======
        <button type="button" class="btn btn-secondary" >Utwórz pokój</button>
    </nav>
    <ul class="list-group">
      <% for(let roomName in rooms){ %>
        <% if(rooms[roomName].length == 1) {%>
          <li class="list-group-item clearfix">
            <%= roomName %><span class="badge badge-light">1/2 graczy</span>
            <button type="button" class="btn btn-success btn-sm" onclick="join('<%= roomName %>')" >Dołącz do gry</button>
        </li>
        <% } else if(rooms[roomName].length == 2) {%>
          <li class="list-group-item"><%= roomName %><span class="badge badge-light">2/2 graczy</span>
          </li>
        <% } %>
      <% } %>
    </ul>
>>>>>>> 356bccb3c52cddd396afd754eee7132c6d87f27f
    <%- include('partials/bootstrap-scripts') %>
    <script src="/scripts/main.js"></script>
  </body>
</html>

  