<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <nav class="navbar navbar-light bg-light navbar-reverse">
        <span class="navbar-brand mb-0 h1"><%= game %></span>
        <a href="/<%= game %>" class="btn btn-secondary" >Utwórz pokój</a>
    </nav>
    <%- include('partials/bootstrap-scripts') %>
  </body>
</html>

  